<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 bg-stone-900 p-6 rounded-lg border border-stone-700 max-w-md mx-auto mb-8">
  <h3 class="text-xl font-bold text-orange-500">Adicionar Personagem</h3>
  <input formControlName="name" type="text" placeholder="Nome" class="px-4 py-2 rounded bg-stone-700 text-white" />
  <input formControlName="thumbnail" type="text" placeholder="URL da imagem (sem extensão)" class="px-4 py-2 rounded bg-stone-700 text-white" />
  <textarea formControlName="description" placeholder="Descrição" class="px-4 py-2 rounded bg-stone-700 text-white"></textarea>
  <button type="submit" [disabled]="form.invalid" class="px-4 py-2 rounded bg-orange-500 text-white font-bold">Adicionar</button>
</form>
